@use "sass:math";
@mixin sp-layout {
  @media screen and (max-width: 750px) {
    @content;
  }
}

html {
  background: #0c0d13;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: -webkit-fill-available;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-family: 'Noto Sans Variable', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header, main, footer {
  z-index: 50;
}

main {
  overflow-anchor: none;
}

/*              */
/*  Name style  */
/*              */

@property --b {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: true;
}

.textGrad {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: conic-gradient(from var(--b), #7ab0f6, #8eefdc, #7ab0f6);
  animation: text-gradient-anim 3s linear infinite;
}

@keyframes text-gradient-anim {
  0% {
    --b: 0deg;
  }

  50% {
    --b: 180deg;
  }

  100% {
    --b: 360deg;
  }
}

/*               */
/*  Badge style  */
/*               */

@property --a {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: true;
}

.badge::after {
  content: '';
  display: block;
  position: absolute;
  width: 103%;
  height: 115%;
  border-radius: 9999px;
  z-index: -1;
  background-image: conic-gradient(from var(--a), #74f1ed, #9a5bff, #74f1ed);
  animation: border-gradient-anim 3s linear infinite;
}

@keyframes border-gradient-anim {
  0% {
    --a: 0deg;
  }

  100% {
    --a: 360deg;
  }
}

/*                          */
/*  Stars background style  */
/*                          */

@function random_range($min, $max) {
  $rand: math.random();
  $random_range: $min + math.floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg) translateY(-20%);
}

@media (min-width: 1600px) {
  .stars {
    transform: rotate(-45deg) scale(1.8) translateX(25%);
  }
}

@media (min-width: 2560px) {
  .stars {
    transform: rotate(-45deg) scale(2.5) translateX(45%);
  }
}

.star {
  $star-count: 50;
  --star-color: #ccf7f8;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);

  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;

  @include sp-layout {
    // For mobile performance, tail-fade animation will be removed QAQ
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }

  @for $i from 1 through $star-count {
    &:nth-child(#{$i}) {
      --star-tail-length: #{calc(random_range(500em, 750em) / 100)};
      --top-offset: #{calc(random_range(0vh, 16000vh) / 100)};
      --fall-duration: #{calc(random_range(6000, 10000s) / 1000)};
      --fall-delay: #{calc(random_range(0, 10000s) / 1000)};
    }
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes tail-fade {

  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }

  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }

  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

/*                       */
/*  Animation on scroll  */
/*                       */

.hidden-element {
  opacity: 0;
  transition: all 1s;
  transform: translateY(100px) scale(0.9);
}

@media(prefers-reduced-motion) {
  .hidden-element {
    transition: none;
  }
}

.show-element {
  opacity: 1;
  transform: translateY(0) scale(1);
}
