---
import MainLayout from "../layouts/MainLayout.astro";

import LinkedIn from "../components/icons/LinkedIn.astro";
import Github from "../components/icons/Github.astro";
import Mail from "../components/icons/Mail.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import Code from "../components/icons/Code.astro";
import Info from "../components/icons/Info.astro";
import Tool from "../components/icons/Tool.astro";
import Clipboard from "../components/icons/Clipboard.astro";
---

<MainLayout
  title="Home - Sebastián Portfolio"
  description="Hire Sebastián to develop your next Website and Web Application!"
>
  <main class="flex flex-col justify-center items-center">
    <section
      id="hero"
      class="w-[80%] lg:w-[48rem] py-8 lg:py-20 mx-auto hidden-element"
    >
      <h1>About</h1>
    </section>
  </main>
</MainLayout>
