---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome!">
	<main>
		<section id="hero" class="w-full lg:w-[48rem] py-44 mx-auto">
			<h1 class="flex flex-row gap-x-6 text-5xl font-semibold pb-4">
				Sebastián Hernández
				<a class="flex flex-row justify-center items-center"
					href="https://www.linkedin.com/in/sebasti%C3%A1n-hern%C3%A1ndez-803355296/"
					target="_blank"
					rel="noopener">
					<Badge>
						Available to work
					</Badge>
				</a>
			</h1>
			<h2 class="text-2xl font-medium">
				Software developer | Front-end & Back-end developer
			</h2>
		</section>

		<section id="experience">
			
		</section>
	</main>
</Layout>