---
import Background from "../components/Background.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Sebastian Portfolio - Software Developer"
  description="Hire Sebastian to develop your next Web Application!"
>
  <main class="flex flex-col justify-center items-center">
    <h1 class="text-4xl text-white">Hello World!</h1>
  </main>
</MainLayout>
