---
const CAREER = [
  {
    title: "ReadyChatAI",
    location: "Remote",
    time: "Jan. 2025 - Jul. 2025",
    description:
      "I worked at ReadyChatAI as a frontend web developer, designing and developing user interfaces and complex features with React.js and Next.js, along with other tools for collaborative work such as Git, Github and Jira.",
  },
  {
    title: "Freelance",
    location: "Remote",
    time: "2023 - Current",
    description:
      "I work as a freelance web developer, building stunnishing websites and efficient web applications using the latest technologies suitable for the product.",
  },
];
---

<ol>
  {
    CAREER.map((xp) => {
      return (
        <li class="grid grid-cols-[5%_85%] gap-8 pt-2 pb-16">
          <span class="text-5xl font-black text-[#97DFFC]">•</span>
          <aside class="flex flex-col sm:flex-row sm:justify-between gap-10 duration-100">
            <div class="scale-[1.15] w-[50%]">
              <h3 class="inline-block pb-[2px] text-xl md:text-2xl font-bold md:font-extrabold bg-gradient-to-r from-[#97DFFC] via-[#8EB5F0] to-[#7364D2] text-transparent bg-clip-text">
                {xp.title}
              </h3>
              <p class="pb-[2px] text-lg font-semibold">{xp.location}</p>
              <p class="text-sm font-thin" style={{ fontStyle: "italic" }}>
                {xp.time}
              </p>
            </div>
            <p class="rounded-xl border-2 border-[#5a737d] bg-[#ffffff08] backdrop-blur-xl shadow-[0px_10px_30px_-5px_#00000088]
              px-5 py-3 sm:w-[24rem] text-[1.1rem] font-base leading-[1.6rem] text-pretty text-[#ffffffdd]"
            >
              {xp.description}
            </p>
          </aside>
        </li>
      );
    })
  }
</ol>