---
import Github from "../icons/Github.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Mail from "../icons/Mail.astro";
import Clipboard from "../icons/Clipboard.astro";
---
<ul class="grid grid-cols-1 sm:grid-cols-2 rounded-lg max-w-[40rem] gap-3 p-6 mx-auto shadow-[0px_10px_30px_-5px_#00000066] bg-[#1f1e20] select-none duration-200">
  <li class="rounded-md px-4 py-3 bg-[#322f32] hover:bg-[#454145] duration-100">
    <a class="flex flex-row justify-center items-center gap-4" href="https://github.com/Seeker4264/" target="_blank" rel="noopener">
      <Github class="size-8" />
      <p class="text-2xl font-semibold">Github</p>
    </a>
  </li>
  <li class="rounded-md px-4 py-3 bg-[#322f32] hover:bg-[#454145] duration-100">
    <a class="flex flex-row justify-center items-center gap-4" href="https://www.linkedin.com/in/sebastian-hernandez-morales/" target="_blank" rel="noopener">
      <LinkedIn class="size-8" />
      <p class="text-2xl font-semibold">LinkedIn</p>
    </a>
  </li>
  <li class="rounded-md px-4 py-3 bg-[#322f32] hover:bg-[#454145] duration-100">
    <a class="flex flex-row justify-center items-center gap-4" href="mailto:sebashmorales@gmail.com" target="_blank" rel="noopener">
      <Mail class="size-8" />
      <p class="text-2xl font-semibold">E-mail</p>
    </a>
  </li>
  <li class="rounded-md px-4 py-3 bg-[#322f32] hover:bg-[#454145] duration-100">
    <a class="flex flex-row justify-center items-center gap-4" href="/SebastianHernandez.pdf" target="_blank" rel="noopener" download>
      <Clipboard class="size-8" />
      <p class="text-2xl font-semibold">Resume</p>
    </a>
  </li>
</ul>