<header class="flex justify-center items-center gap-x-5 sm:gap-x-10 py-6 [&>a]:text-[1.05rem] sm:[&>a]:text-[0.95rem] [&>a]:font-semibold">
    <a class="duration-150 hover:scale-[1.15] hover:translate-y-[-2px] hover:text-[#6aa8f9]" href="#experience">Experience</a>
    <a class="duration-150 hover:scale-[1.15] hover:translate-y-[-2px] hover:text-[#6aa8f9]" href="#projects">Projects</a>
    <a class="duration-150 hover:scale-[1.15] hover:translate-y-[-2px] hover:text-[#6aa8f9]" href="#skills">Skills</a>
    <a class="duration-150 hover:scale-[1.15] hover:translate-y-[-2px] hover:text-[#6aa8f9]" href="#about">About</a>
    <a class="duration-150 hover:scale-[1.15] hover:translate-y-[-2px] hover:text-[#6aa8f9]" href="#contact">Contact</a>
</header>