<header class="flex justify-between items-center py-5 mx-auto w-[64rem]">
    <img class="rounded-full size-14" src="/profile.jpg" alt="seeker photo">

    <nav class="flex flex-row gap-x-8 [&>a]:text-base [&>a]:font-medium">
        <a class="duration-150 hover:scale-[1.15] hover:translate-y-[-2px] hover:text-[#7bb0f5]" href="#experience">Experience</a>
        <a class="duration-150 hover:scale-[1.15] hover:translate-y-[-2px] hover:text-[#7bb0f5]" href="#projects">Projects</a>
        <a class="duration-150 hover:scale-[1.15] hover:translate-y-[-2px] hover:text-[#7bb0f5]" href="#about">About</a>
        <a class="duration-150 hover:scale-[1.15] hover:translate-y-[-2px] hover:text-[#7bb0f5]" href="#contact">Contact</a>
    </nav>
</header>