<a
  class="flex flex-row justify-center items-center gap-3 border border-[#5e636e] rounded-full px-3 py-1 w-fit text-nowrap bg-[#2e3443] duration-100 hover:text-[#363a43] hover:bg-white hover:scale-105"
  href={Astro.props.href}
  target="_blank"
  rel="noopener"
  download
>
  <slot />
  <h1>{Astro.props.title}</h1>
</a>
