---
import Header from '../components/Header.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="">
		<div class="absolute inset-0 -z-10 h-full w-full bg-[linear-gradient(to_right,#80808012_1px,transparent_1px),linear-gradient(to_bottom,#80808012_1px,transparent_1px)] bg-[size:18px_24px]"></div>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}

	html {
		background: radial-gradient(at right top, #2a3334 33%, #1c1f20 50%, #0a0a0a 100%);
		background-repeat: no-repeat;
		background-attachment: fixed;
		font-family: 'Noto Sans Variable', sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		scroll-behavior: smooth;
	}

	body {
		position: relative;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}

	.badge::after {
		content: '';
		display: block;
		position: absolute;
		width: 103%;
		height: 115%;
		border-radius: 9999px;
		z-index: -1;
		background-image: conic-gradient(from 45deg, #74f1ed, #9a5bff, #74f1ed);
	}
</style>
